@model FlightSpanners.Areas.OrganizerArea.ViewModels.GroupsDataViewModel

@{
	ViewBag.Title = "Groups";
}
<!-- Start Start of form groupdata-organizer-viewall -->
<form method="GET" asp-area="OrganizerArea" asp-controller="GroupsData" asp-action="Index" class="form form-groupdata-organizer-viewall">
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Group<br />Name</th>
					<th>Record<br />Starting</th>
					<th>Calcul.<br />Reset</th>
					<th>Sector<br />Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var group in Model.GroupsDataList)
				{
					<tr>
						<td>@group.GroupName</td>
						<td>@group.RecordStarting.ToShortDateString()</td>
						<td>@group.CalculationResetEvery</td>
						<td>@group.IsCalculationSectorTime</td>
						<td><a asp-area="OrganizerArea" asp-controller="GroupsData" asp-action="Edit" asp-route-OrganizerGroupId="@group.OrganizerGroupId">Edit</a></td><!--To be implemented later-->
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<!--Use pagination only if the TotalRecords is larger than PageSize-->
						@if (Model.TotalRecords > Model.PageSize)
						{
							<div class="pagination">
								@{
									// if the TotalRecords is multiple of PageSize then just divide TotalRecords by PageSize
									// ,otherwise divide and add 1 page.
									int totalNoOfPages = Model.TotalRecords % Model.PageSize == 0 ? Model.TotalRecords / Model.PageSize : Model.TotalRecords / Model.PageSize + 1;

									// Dispaly 1st page navigation and previous page navigation only
									// if the current page is not the 1st page
									if (Model.PageNo != 1)
									{
										// 1st page navigation
										<a asp-action="Index" asp-route-page=1>
											&laquo;
										</a>

										// Previous page navigation
										<a asp-action="Index" asp-route-page=@(Model.PageNo-1)>
											❮
										</a>
									}

									//Pages navigation
									for (int i = 1; i <= totalNoOfPages; i++)
									{
										var active = (i == Model.PageNo) ? "active" : "";
										<a asp-action="Index" asp-route-page="@(i)" class="@active">
											@i
										</a>
									}

									// Dispaly last page navigation and next page navigation only
									// if the current page is not the last page
									if (Model.PageNo != totalNoOfPages)
									{
										// Next page navigation
										<a asp-action="Index" asp-route-page=@(Model.PageNo+1)>
											❯
										</a>

										// Last page navigation
										<a asp-action="Index" asp-route-page=@totalNoOfPages>
											&raquo;
										</a>
									}

								}
							</div>
						}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

</form>
<!-- End Start of form groupdata-organizer-viewall -->
